{
    "612349447413694524": {
        "Base": {
            "Type": "Community"
        },
        "Messages": {
            "joinChannel": 678742300670689320,
            "joinMessages": {
                "ExampleJoin": "{member_name} has joined the server! They created their account at {created}.\n\nHey {member_mention}, you are the {position}th person to join this server!\n\nMake sure to check out <#612349448101822465> for details on the server and the bot.\nYou can also check out <#612360431985491969> for the latest info on the bot!",
                "Swoosh": "Swoosh! Here come\u2019s in {member_mention} at number {position}! Welcome!"
            },
            "leaveChannel": 678742300670689320,
            "leaveMessages": {
                "RIP": "RIP {member_name}. We'll miss you!",
                "ExampleLeave": "{member_name} may have made their account only on {created} at #{position} but the were a true members of the server since {join_date}. They will be throughly missed!"
            },
            "temp": "ExampleJoin",
            "rankUpMessages": "any",
            "rankUpChannel": null
        },
        "Modlog": {
            "channel": 613800534750789642
        }
    },
    "573978972170354688": {
        "Base": {
            "Type": "Clan",
            "clanID": "#bze"
        },
        "Messages": {
            "joinChannel": null,
            "joinMessages": {},
            "leaveChannel": null,
            "leaveMessages": {},
            "temp": "",
            "rankUpMessages": "channel",
            "rankUpChannel": 611499259816312852
        },
        "Modlog": {
            "channel": null
        }
    }
}
