{
    "Subscriptions": {
        "BB-testing": 710258992974397492
    },
    "Subscribers": {
        "710258992974397492": {
            "Channels": [
                710258992974397492
            ],
            "name": "BB-testing"
        }
    }
}